<table class="table table-condensed">
	<thead>
		<th>用户名</th>
		<th>电子邮箱</th>
		<th>最后登录时间</th>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.user_name %></td>
				<td><%= user.email %></td>
				<td><%= time_ago_in_words(user.last_sign_in_at) %></td>
			</tr>
		<% end %>
	</tbody>
</table>