
    <h3>最新公告</h3>
      <p class="text-danger">
      As of v8.0, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.
    </p>
 